<div ng-app="app" ng-controller="map" ng-cloak>
	<div class="col-md-12">
    	<ui-gmap-google-map center='map.center' zoom='map.zoom'>
			<ui-gmap-markers models="data" coords="'self'" icon="'icon'">
        	</ui-gmap-markers>    	
    	</ui-gmap-google-map>
	</div>
	<div class="col-md-5" style="position: absolute;">
	
	<div class="search-top-menu">
		<div class="btn-archive" ng-class="{active:!_.archive_btn}" ng-click="_.archive_btn=!_.archive_btn">Archive</div>	
	</div>
	<div class="search-wrapper">
		<div class="s-left">
			<textarea ng-model="query" placeholder="Enter the SQL query" style="width: 100%; height: 150px;" ng-style="_.save_select" ng-init="_.save_select={background: 'white'}"></textarea>
			<button class="btn btn-submit-query" ng-click="execute()" ng-disabled="!query">Search</button>
		</div>	
		<div class="s-right">
				<select size="7" style="width: 100%;" 
				ng-model="_.archive_selected"				
				ng-options="a.id as a.name for a in $storage.archive"
				ng-change="loadQuery()">
				</select>

<input type="text" class="input-save" 
ng-focus="_.save_select.background='whitesmoke'"
ng-blur="_.save_select.background='white'"
ng-model="_.save_name"/>

<button class="btn btn-save-query" ng-click="save()" ng-disabled="!query||!_.save_name">Save</button>
		</div>
	</div>
		
   	<ul class="data-list">
			<li ng-repeat="d in data" ng-class="{unactive: (!d.latitude||!d.longitude)}" ng-click="zoomto(d)">{{ d.name }}</li>
   	</ul>
    	
	</div>

</div>

<!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
   <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>